@tailwind base;
@tailwind components;

.text-field-normal {
  @apply border-form-stroke text-base focus:outline-none focus:border-blue-200 focus:ring-1 focus:ring-blue-500 w-full rounded-lg border-[1.5px] py-3 px-5 font-medium outline-none transition disabled:cursor-default border;
}

.text-area-normal {
  @apply border-form-stroke text-base focus:outline-none focus:border-blue-200 focus:ring-1 focus:ring-blue-500 w-full rounded-lg border-[1.5px] py-3 px-5 font-medium outline-none transition disabled:cursor-default;
}

.dropdown-normal {
  @apply text-left text-base focus:outline-none focus:border-violet-200 focus:ring-1 focus:ring-violet-500 w-full rounded-lg border-[1.5px] py-3 px-5 font-medium outline-none transition;
}

.dropdown-values {
  @apply mt-1 max-h-60 w-full text-left overflow-auto text-left text-base w-full rounded-lg border-[1.5px] px-5 py-3 font-medium outline-none transition;
}

.text-field-error {
  @apply text-base border-2 border-red-500 focus:outline-none focus:border-red-200 focus:ring-1 focus:ring-red-500 w-full rounded-lg border-[1.5px] py-3 px-5 font-medium outline-none transition disabled:cursor-default;
}

.continue-button {
  @apply w-full bg-primary inline-flex items-center justify-center rounded-md py-4 px-8 text-center text-base font-normal text-white hover:bg-opacity-90;
}

.dropdown-input {
  @apply text-base focus:outline-none focus:border-violet-200 focus:ring-1 focus:ring-violet-500 w-full rounded-lg border-[1.5px] py-3 px-5 font-medium outline-none transition disabled:cursor-default;
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format ('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
